@{
    ViewBag.Title = "Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <img width="100%" src="https://images.cfyc.com.vn/life/phn_image/article/cover-1478171135.jpg" alt="">
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="https://i.ytimg.com/vi/Aempr0QvAec/maxresdefault.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                BẠN MUỐN
            </h1>
            <h3 class="introduce-1-detail-2">
                Có một vóc dáng quyến rũ?
            </h3>
            <div class="">
                Số đo 3 vòng hoàn hảo? Cơ bụng 6 múi? Hay đơn giản bạn cần rèn luyện sức khỏe nhưng lại lười biếng
                và
                không có
                chút hứng thú, động lực khi bước vào phòng tập gym?
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-2-detail-1 text-danger">
                XƯƠNG KHỚP
            </h1>
            <h3 class="introduce-2-detail-2">
                Tập gym giúp xương chắc khỏe
            </h3>
            <div>
                heo tuổi tác, các mô xương bị thoái hóa dần, thậm chí nhiều người còn bị tình trạng loãng xương ngay
                khi còn trẻ.

                Luyện tập thể hình tạo điều kiện cho việc kích thích quá trình tạo xương mới, giúp xương khớp khỏe
                mạnh, ngăn ngừa chấn thương, làm giảm tình trạng thoái hóa xương và phòng ngừa loãng xương hiệu quả.

                Có lời đồn thổi rằng tập tạ ở tuổi thanh niên sẽ khiến cơ xương ngừng phát triển, làm chậm sự tăng
                trưởng của cơ thể.

            </div>
        </div>
        <div class="col-lg-7 col-sm-12 introduce-2-img">
            <img src="https://www.healthline.com/hlcmsresource/images/News/gym-membership/4489-gym_people_exercise-1296x728-header.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="https://s3-eu-west-2.amazonaws.com/prod-everyoneactive-wp/wp-content/uploads/2017/02/13162645/POPact_GymCasual.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                NGĂN NGỪA BỆNH
            </h1>
            <h3 class="introduce-1-detail-2">
                Tập gym có tác dụng phòng ngừa bệnh tật
            </h3>
            <div class="">
                Rất nhiều nghiên cứu của các nhà khoa học chỉ ra rằng: Tập gym thường xuyên giúp cải thiện sức khỏe tim mạch, giảm cholesterol, phòng bệnh tai biến mạch máu não, nhồi máu cơ tim, cao huyết áp, xơ vữa động mạch…
                Bạn sẽ có cơ thể khỏe mạnh, sức khỏe dồi dào cho công việc, học tập, hưởng thụ cuộc sống và sống thọ hơn.
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-2-detail-1 text-danger">
                TINH THẦN
            </h1>
            <h3 class="introduce-2-detail-2">
                Tập gym khiến tinh thần sảng khoái
            </h3>
            <div class="">
                Tập luyện làm giải phóng các chất hóa học trong não như dopamine, epinephrine, khiến bạn thấy tích cực, sảng khoái, hưng phấn hơn.

                Với nhiều người, việc tập gym giúp họ xóa tan sự căng thẳng, mệt mỏi sau những giờ làm việc, học tập vất vả.

                Ngoài ra, đến các phòng tập tạo điều kiện để bạn được gặp gỡ, giao lưu với mọi người, mở rộng các mối quan hệ, sống tích cực và lạc quan hơn.
            </div>
        </div>
        <div class="col-lg-7 col-sm-12 introduce-2-img">
            <img src="https://fortunedotcom.files.wordpress.com/2017/10/478859478.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="https://bactrang.com/wp-content/uploads/2018/02/bi-quyet-tang-cuong-sinh-luc-nam-gioi-1.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                SINH LỰC
            </h1>
            <h3 class="introduce-1-detail-2">
                Tập gym giúp tăng cường sinh lực
            </h3>
            <div class="">
                Tập gym còn có tác dụng khác đó là tăng cường khả năng sinh lý cho cả phụ nữ và nam giới.

                Việc tập gym đều đặn thúc đẩy cơ thể tăng cường trao đổi chất, tăng dung tích phổi, tăng nhịp tim mạch sẽ làm cho sức bền của bạn tăng lên.

                Các bài tập gym có tác dụng tăng mức Testosterone và ngăn chặn sự suy giảm của Testosterone ở nam giới; tăng cường Estrogen cho nữ giới, từ đó cải thiện khả năng tình dục.

            </div>
        </div>
    </div>
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>


