@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="register-now">
    <div class="row">
        <div class="col-8 ">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-4 btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-7 introduce-1-img">
            <img src="~/Content/img/1.png" alt="">
        </div>
        <div class="col-5">
            <h1 class="introduce-1-detail-1 text-danger">
                KHÔNG BỊ BUỒN CHÁN
            </h1>
            <h3 class="introduce-1-detail-2">
                Khoảng thời gian tập luyện là lúc đầu óc được thư giãn thoải mái
            </h3>
            <div>
                Vì vậy, việc đến phòng tập với nhiều người sẽ gia tăng sự hào hứng, không bị trì
                trệ, các buổi học không tẻ nhạt và im lặng. Đặc biệt với phụ nữ sau sinh muốn giảm cân, khi được tập
                nhóm với những người có cùng thể trạng sẽ giúp tạo động lực quyết tâm cao hơn. Nhiều chị em phụ nữ
                sau sinh, trong thời gian chăm sóc con nhỏ thường ít ra ngoài, ít gặp gỡ bạn bè và tham gia vào các
                hoạt động tập thể, dễ gây buồn chán, trầm cảm.
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-5">
            <h1 class="introduce-2-detail-1 text-danger">
                LƯỜI BIẾNG
            </h1>
            <h3 class="introduce-2-detail-2">
                Tập thể dục nhóm để khắc phục bệnh lười
            </h3>
            <div>
                Nếu tập một mình, bạn rất nhanh nản chí và không đề cao kỷ luật với bản thân, đi tập lúc nào cũng
                được,
                không đi tập cũng không sao. Nhưng khi tập nhóm, bạn sẽ cảm thấy có trách nhiệm hơn về sự hiện diện
                của
                mình tại lớp học, tâm lý sẽ “ngại nghỉ” hơn, và không bị oải khi nghĩ đến việc đến phòng tập một
                mình.
                Rủ bạn bè đi tập cùng cũng là động lực và “chống lười” hiệu quả.
            </div>
        </div>
        <div class="col-7 introduce-2-img">
            <img src="~/Content/img/2.png" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-7 introduce-1-img">
            <img src="~/Content/img/3.png" alt="">
        </div>
        <div class="col-5">
            <h1 class="introduce-1-detail-1 text-danger">
                GIẢM CÂN
            </h1>
            <h3 class="introduce-1-detail-2">
                Tập thể dục nhóm để quyết tâm giảm cân hơn
            </h3>
            <div class="">
                Khi tập luyện cùng một nhóm bạn sẽ dễ dàng nhìn thấy sự khác biệt trong kết quả tập luyện của mỗi
                người.
                Nếu bạn giảm cân chậm hơn so với bạn tập, bạn sẽ sốt ruột và quyết tâm chăm chỉ hơn. Ngoài ra, khi
                tập
                cùng nhiều người, bạn sẽ dễ dàng trao đổi thông tin về chế độ dinh dưỡng, tìm hiểu sao người này
                giảm
                cân nhanh và người kia thì không mặc dù tập luyện như nhau.
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-5">
            <h1 class="introduce-2-detail-1 text-danger">
                TIẾT KIỆM
            </h1>
            <h3 class="introduce-2-detail-2">
                Tập thể dục nhóm để giảm chi phí
            </h3>
            <div>
                Đây là điều thiết thực nhất vì các lớp học nhóm luôn có chi phí mềm hơn so với các lớp học riêng cá
                nhân. Cùng một thời lượng tập luyện nhưng học phí được chia ra cho nhiều người hơn, đây là điều
                thuận
                lợi cho những người muốn có được lớp học chất lượng với chi phí hợp lý.
            </div>
        </div>
        <div class="col-7 introduce-2-img">
            <img src="~/Content/img/4.png" alt="">
        </div>
    </div>
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 ">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-4 btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
