@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="embed-responsive embed-responsive-16by9 d-none d-lg-block">
        <iframe class="embed-responsive-item"
                src="//www.youtube.com/embed/tNR6-cXld2U?playlist=tNR6-cXld2U&amp;iv_load_policy=3&amp;enablejsapi=1&amp;disablekb=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;wmode=transparent&amp;widgetid=1&amp;mute=1"
                frameborder="0" allowfullscreen=""></iframe>
    </div>
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="http://fit24hn.com.vn/images/2018/04/12/group-x-cover.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                BẠN MUỐN
            </h1>
            <h3 class="introduce-1-detail-2">
                Có một vóc dáng quyến rũ?
            </h3>
            <div class="">
                Số đo 3 vòng hoàn hảo? Cơ bụng 6 múi? Hay đơn giản bạn cần rèn luyện sức khỏe nhưng lại lười biếng
                và
                không có
                chút hứng thú, động lực khi bước vào phòng tập gym?
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-2-detail-1 text-danger">
                NẾU BẠN DỪNG LẠI
            </h1>
            <h3 class="introduce-2-detail-2">
                Thành công sẽ biến mất
            </h3>
        </div>
        <div class="col-lg-7 col-sm-12 introduce-2-img">
            <img src="http://fit24hn.com.vn/images/2018/03/23/groupx-bg.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="https://floridapoly.edu/wp-content/uploads/fitness-center.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                PRIME FITNESS
            </h1>
            <h3 class="introduce-1-detail-2">
                Fitness & Yoga Center
            </h3>
            <div class="">
                Được ra đời với tiêu chí là điểm đến yêu thích của những người đam mê tập luyện theo một cách khoa
                học và có đam
                mê cháy bỏng muốn thay đổi bản thân, Prime Fitness cung cấp giải pháp toàn diện cho
                mọi nhu cầu
                của bạn từ giảm béo, tăng cơ, hồi phục chấn thương...
            </div>
        </div>
    </div>
</section>
<section class="bg-light introduce-img d-none d-lg-block">
    <div class="row">
        <div class="col-3">
            <img src="http://fit24hn.com.vn/images/2018/04/22/big-image-1.jpg" alt="">
        </div>
        <div class="col-6">
            <img src="http://fit24hn.com.vn/images/2018/04/12/big-image-center.png" alt="">
        </div>
        <div class="col-3 introduce-img">
            <img src="http://fit24hn.com.vn/images/2018/04/22/big-image-3.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-2-detail-1 text-danger">
                THIẾT BỊ PHÒNG TẬP
            </h1>
            <h3 class="introduce-2-detail-2">
                Nhập khẩu 100% từ Đức
            </h3>
            <div class="">
                Prime Fitness & Yoga Center sở hữu không gian chuyên nghiệp, mang lại sự thoải mái,
                giúp người tập thực hiện đúng kỹ thuật và tăng hiệu quả luyện tập.
            </div>
        </div>
        <div class="col-lg-7 col-sm-12 introduce-2-img">
            <img src="http://fit24hn.com.vn/images/2018/05/04/fit24-thaithinh1.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="https://thongtinhuuich247.files.wordpress.com/2018/12/pt-phong-gym-2.jpg?w=740" alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger">
                HUẤN LUYỆN VIÊN
            </h1>
            <h3 class="introduce-1-detail-2">
                Chất lượng cao
            </h3>
            <div class="">
                Đội ngũ Huấn luyện viên cá nhân (PT) quốc tế được đào tạo bài bản, luôn sẵn sàng tư vấn bài tập, kỹ
                thuật tập luyện, xây dựng chế độ dinh dưỡng phù hợp với từng mục tiêu tập luyện của khách hàng.
            </div>
        </div>
    </div>
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>