@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/kickfit-mma-services/header-banner-12-2016.jpg"
             alt="" data-toggle="modal"
             data-target="#register-modal"
             width="100%" height="auto">
    </div>
    <div class="row bg1">
        <div class="col-md-6 text-center ">
            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/kickfit-mma-services/about.png"
                 alt=""
                 width="40%" height="auto" style="padding: 10px">
        </div>
        <!--<div class="col-md-6 text-left " style="padding: 10px; padding-right: 200px;padding-top: 100px">-->
        <div class="col-md-6 text-lg-left padding-lg padding-sm-1">
            <h3>Kickfit là gì?</h3>
            <div class="col-md-12" style="padding-left: 0px">
                <h3 class="col-md-3 text-left" style="border-bottom: 4px solid red"></h3>
            </div>
            <p>
                Kickfit là môn võ giống MMA, cũng lấy cảm hứng từ nhiều phong cách võ thuật,
                kết hợp các động tác mạnh mẽ như đấm, đá cùng kỹ thuật tấn công,
                di chuyển tạo thành môn thể thao rèn luyện thể lực và thể hình săn chắc.
            </p>
            <p>
                Phong cách được kết hợp: <span style="font-size: 20px; font-weight: bold">
                    Boxing, Jujitsu,
                    Muay Thai Kickboxing, Kickboxing, Judo, Vovinam
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-md-6 text-left " style="padding: 10px; padding-left: 200px">-->
        <div class="padding-lg-2 col-md-6 text-lg-left padding-sm-2">
            <h3>Thể dục võ thuật để sở hữu cơ thể cân đối và rèn thể lực</h3>
            <div class="col-md-12" style="padding-left: 0px">
                <h3 class="col-md-3 text-left" style="border-bottom: 4px solid red"></h3>
            </div>
            <p>
                Kickfit and MMA mang đến những lợi lích sức khỏe tuyệt vời mà bạn không thể quên bao gồm:
            </p>
            <ul style="font-weight: bold">
                <li>Giảm mỡ</li>
                <li>Sức mạnh và sự linh hoạt</li>
                <li>Giảm căng thẳng</li>
                <li>Tập trung và thành công</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 text-lg-left text-sm-center">
            <img src="https://www.cfyc.com.vn/images_server/themes/celebration/img/kickfit-mma-services/m-benefit.jpg"
                 alt=""
                 width="73%" height="auto" style="padding: 10px">
        </div>

    </div>
    <section class=" register-now">
        <div class="row">
            <div class="col-8 d-none d-lg-block">
                <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
                <div class="text-white register-now-detail">
                    Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
                </div>
            </div>
            <div class="col-lg-4 text-sm-center btn-register-now">
                <button class="btn btn-danger " type="button" data-toggle="modal"
                        data-target="#register-modal">
                    <div>ĐĂNG KÝ NGAY</div>
                </button>
            </div>
        </div>
    </section>
</div>

