@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img width="100%" src="https://rns.com.vn/longbien/pool/images/slide_01.jpg" alt="">
</div>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
<div class="col-md-12 col-sm-12 text-center" style="color: #dc3545; padding-top: 50px">
    <h2>ĐẶC TRƯNG</h2>
</div>
<div class="col-md-12 col-sm-12 text-center" style="padding-bottom:50px ">
    <b>
        Bể bơi chất lượng cao tại Việt Nam<br>
        Bể bơi cao cấp tạo sự an tâm cho người lớn và cả trẻ em
    </b>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 text-center">
        <img src="https://rns.com.vn/longbien/pool/images/img_01.jpg" width="100%" alt="">
        <div style="color: #dc3545; padding-top: 7px">
            <h6>
                CHẤT LƯỢNG NƯỚC BỂ BƠI LUÔN TRONG VÀ <br>
                SẠCH TUYỆT ĐỐI
            </h6>
        </div>
        <span style="color: white">
            Chúng tôi sử dụng hệ thống lọc nước tuần hoàn, đảm bảo <br>
            nước luôn được giữ sạch suốt 24 tiếng trong ngày.
        </span>
    </div>
    <div class="col-md-6 col-sm-12 text-center ">
        <img src="https://rns.com.vn/longbien/pool/images/img_02.jpg" width="100%" alt="">
        <div style="color: #dc3545; padding-top: 7px">
            <h6>
                NHIỆT ĐỘ PHÒNG VÀ NHIỆT ĐỘ NƯỚC ĐƯỢC <br>
                ĐIỀU CHỈNH ĐỂ CÓ THỂ BƠI SUỐT TRONG <br>
                NĂM
            </h6>
        </div>
        <span>
            Nhiệt độ luôn được duy trì ở 30oC±1oC, tạo môi trường <br>
            bơi lội thoải mái cho cả người lớn và trẻ em..
        </span>
    </div>
    <div class="col-md-6 text-center " style="padding-top: 20px">
        <img src="https://rns.com.vn/longbien/pool/images/img_03.jpg" width="100%" alt="">
        <div style="color: #dc3545; padding-top: 7px">
            <h6>
                BỂ BƠI RỘNG 25M, VỚI 7 LÀN BƠI
            </h6>
        </div>
        <span>
            Bể bơi được thiết kế để có thể sử dụng với nhiều mục <br>
            đích khác nhau như bơi lội, học bơi, và các bài tập trong <br>
            nước... Các bạn có thể sử dụng bể bơi phù hợp với nhu <br>
            cầu của mình.
        </span>
    </div>
    <div class="col-md-6 text-center " style="padding-top: 20px">
        <img src="https://rns.com.vn/longbien/pool/images/img_04.jpg" width="100%" alt="">
        <div style="color: #dc3545; padding-top: 7px">
            <h6>
                MÔI TRƯỜNG LUYỆN TẬP THOẢI MÁI, VUI VẺ <br>
                ĐỐI VỚI CẢ NHỮNG NGƯỜI KHÔNG BIẾT BƠI
            </h6>
        </div>
        <span>
            Tại bể bơi Renaissance, cả những người không biết bơi <br>
            cũng có thể tập aquabics hoặc tập đi bộ trong nước...
        </span>
    </div>
</div>
<div class="col-md-12 col-sm-12 text-center" style="color: #dc3545; padding-top: 50px">
    <h2>HIỆU QUẢ</h2>
</div>
<div class="row">
    <div class="col-md-6-5 col-sm-6 margin-lg text-center " style="background: #dc3545;color: white">
        <h1>1</h1>
        <b>Làm đẹp da nhờ vào nhiệt độ nước</b>
        <p style="padding: 10px">
            Nhiệt độ của nước trong hồ thấp hơn nhiệt độ của cơ thể nên khi da tiếp xúc với
            nước sẽ
            được kích thích.
            Nhiệt độ nước, áp lực nước, và việc tiếp xúc với nước sẽ mang lại hiểu quả massage cực tốt cho da.
            Ngoài ra, lưu thông máu trong các mao mạch cũng được kích thích, giúp tuần hoàn máu tốt hơn.
            Hô hấp trong nước giúp cho chức năng tim phổi được tăng cường, trao đổi chất được cải thiện.
            Bạn sẽ có được làn da đẹp với các bài tập trong nước.
        </p>
    </div>
    <div class="col-md-6-5 col-sm-6 margin-lg text-center" style="background: aliceblue">
        <h1>2</h1>
        <b style="color: red">Hiệu quả massage nhờ áp lực nước</b>
        <p style="padding: 10px">
            Khi ở trong môi trường nước, cơ thể sẽ bị tác động bởi áp lực của nước.
            Đặc biệt ở trạng thái đứng trong nước, phần từ đầu gối trở xuống chịu áp lực mạnh.
            Lý do bởi vì ở độ sâu càng cao thì áp lực nước càng mạnh. Huyết quản và cơ bắp từ đầu gối trở xuống
            do chịu áp lực của nước nên thúc đẩy tuần hoàn máu. Nói cách khác, chỉ cần ở trong nước thì tác
            dụng cũng như khi cơ thể bạn đang được massage vậy.
        </p>
    </div>
    <div class="col-md-6-5 col-sm-6 margin-lg text-center" style="background: aliceblue">
        <h1>3</h1>
        <b style="color: red">Hiệu quả thư giãn nhờ thả nổi cơ thể</b>
        <p style="padding: 10px">
            Khi thả nổi cơ thể trong nước, ở trạng thái nước ngập đến vai, trọng lượng cơ
            thể
            chỉ còn lại 1/10, nên có thể vận động mà không dồn gánh nặng lên chân và lưng. Ngoài ra, chỉ cần thả
            nổi cơ thể, cơ bắp cũng sẽ được thả lỏng, giúp đạt hiệu quả rất cao trong việc thư giãn và giải tỏa
            stress.
        </p>
    </div>
    <div class="col-md-6-5 col-sm-6 text-center margin-lg" style="background: #dc3545;color: white">
        <h1>4</h1>
        <b>Hiệu quả vận động nhờ vào lực cản</b>
        <p style="padding: 10px">
            Bạn sẽ cảm giác khó vận động tay chân trong nước hơn so với khi ở trên mặt đất.
            Đó là do mật độ của nước so với không khí cao hơn rất nhiều, nên lực cản cũng lớn hơn. Bằng cách
            điều
            tiết tốc độ vận động, các bài tập có thể phù hợp với từng thể lực của từng người.
        </p>
    </div>
</div>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
