@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <img width="100%" src="http://onkartravels.com/wp-content/uploads/2015/06/yoga-medidation.jpg" alt="">
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="http://static1.squarespace.com/static/53a076e5e4b07b2ee71cc04d/57226e91cf80a1f6cc3b6545/5b102016f950b79bfa32e822/1528764691374/three_new_yoga_poses.jpg?format=1500w"
                 alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger text-sm-center">
                THON GỌN
            </h1>
            <h3 class="introduce-1-detail-2">
                Yoga cho vóc dáng thon gọn, săn chắc
            </h3>
            <div class="">
                Luyện tập thường xuyên cùng với kỹ thuật thở trong <b>
                    Yoga sẽ giúp bạn bạn có được một thân hình săn
                    chắc
                </b>. Đây là sự lựa chọn hoàn hảo để bạn lấy lại vóc dáng thon gọn thuở thiếu thời. Yoga còn
                giúp nâng cao sức khỏe và tính linh hoạt, bạn sẽ cảm nhận được cơ thể trở nên săn chắc và quyến rũ
                hơn.
            </div>
        </div>
    </div>
</section>
<section class="introduce-2">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-2-detail-1 text-danger text-sm-center">
                STRESS
            </h1>
            <h3 class="introduce-2-detail-2">
                Liều thuốc hoàn hảo cho ngày dài căng thẳng
            </h3>
            <div>
                <p>
                    <b>Yoga sẽ giúp giải tỏa căng thẳng và thư giãn tâm hồn cũng như cơ thể bạn.</b> Bạn sẽ cảm thấy
                    thoải mãi và nhẹ nhõm hơn chỉ sau lớp học đầu tiên.
                </p>
            </div>
            <div>
                <p>
                    Các lớp Yoga hoàn hảo giúp giải tỏa căng thẳng: <b>
                        Hatha, Gentle, Therapy, Stretch & Sun
                        Series
                    </b>
                </p>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12 introduce-2-img">
            <img src="https://barcelona-home.com/events-and-guide/wp-content/uploads/2016/03/yoga.jpg" alt="">
        </div>
    </div>
</section>
<section class="introduce-1 bg-light">
    <div class="row">
        <div class="col-lg-7 col-sm-12 introduce-1-img">
            <img src="http://www.wellintra.com/wp-content/uploads/2017/01/top-yoga-instructors-mumbai.jpg"
                 alt="">
        </div>
        <div class="col-lg-5 col-sm-12">
            <h1 class="introduce-1-detail-1 text-danger text-sm-center">
                HUẤN LUYỆN VIÊN
            </h1>
            <h3 class="introduce-1-detail-2">
                Chất lượng cao
            </h3>
            <div class="">
                Đội ngũ Huấn luyện viên cá nhân (PT) quốc tế được đào tạo bài bản, luôn sẵn sàng tư vấn bài tập, kỹ
                thuật tập luyện, xây dựng chế độ dinh dưỡng phù hợp với từng mục tiêu tập luyện của khách hàng.
            </div>
        </div>
    </div>
</section>
<section class=" register-now">
    <div class="row">
        <div class="col-8 d-none d-lg-block">
            <div class="text-white register-now-title">ĐĂNG KÝ NGAY</div>
            <div class="text-white register-now-detail">
                Trải nghiệm 3 ngày miễn phí toàn bộ dịch vụ
            </div>
        </div>
        <div class="col-lg-4 text-sm-center btn-register-now">
            <button class="btn btn-danger " type="button" data-toggle="modal"
                    data-target="#register-modal">
                <div>ĐĂNG KÝ NGAY</div>
            </button>
        </div>
    </div>
</section>

